
.livenow {
    position: relative;
    background: #fff;
    padding: 0.5em;
}


.livenow .messages {    
    background: #ddd;
    border: 2px solid #ccc;
    float: right;
    clear: none; 
    z-index: 2px;
    overflow: auto;
    width: 100%;        
    margin-top: 1em;  
}

.livenow .comment {
    position: relative;
    clear: both;
    float: right;
    width: 100%; 
    border: 2px solid transparent;        
    border-top: 0px;
}

.livenow .comment textarea {
    border: 2px solid #ccc;
    height: 40px;
    resize: none;
    width: 100%;   
    font-size: 1em;
    border-top: 0px;
    background: #fff;    
    float: right;
    margin: 0px;
    padding: 0px;
    clear: both;
    outline: none;
    position: relative;
    display: block;
    right: -2px;
}

.livenow .comment button {
    float: right;
    margin: 0;
    margin-top: 5px;
    color: #444;
    display: inline-block;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;  
    font-size: 0.9em;
    font-weight: bold;
    text-shadow: #fff 0px 1px 0px;  
    border-width: 2px;
    color: #606060;
    border: solid 1px #b7b7b7;
    background: #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
    background: -moz-linear-gradient(top,  #fff,  #ededed);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');    
    padding: 5px;   
    padding-left: 10px;
    padding-right: 10px;
    width: 90px;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    border-radius: 0.5em;   
    clear: both;
}

.livenow .comment button:hover {
    text-decoration: none;
    background: #ededed;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));
    background: -moz-linear-gradient(top,  #fff,  #dcdcdc);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc');    
}

.livenow .comment button:active {
    position: relative;
    color: #999;
    background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#fff));
    background: -moz-linear-gradient(top,  #ededed,  #fff);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff');
}

.livenow .messages .message .icon {
    dfloat: left;
    text-align: right;
    vertical-align: top;
    ddisplay: block;
    margin-right: 1em;
}

.livenow .messages .message {
    padding: 0.5em;
    border-top: 2px solid #ccc; 
    background: #fff;
    color: #444;
    display: block;   
    clear: both;
    overflow: auto;
}
