body {  
    font-family: Arial, Helvetica, Verdana, sans-serif; 
    color: #333;    
    background-color: #fff;
    margin: 1em;
    background-repeat: repeat;
    font-size: 0.8em;
}

h1 a,
h1 a:link,
h1 a:visited,
h1 a:hover,
h1 a:active {
    color: #333;
    border-bottom: 0px;
    font-weight: bold;
    font-size: 2.5em;
    letter-spacing: -0.08em;    
}

.header,
.footer {
    margin: 0em;
    padding: 0em;
    clear: both;
}

.footer {
    padding-top: 1.5em;
}

a,
a:link,
a:visited,
a:hover,
a:active {
    color: #333;
    font-weight: 800;
    text-decoration: none;
    line-height: 1em;   
    border-bottom: 1px dotted #888;
}

#main {
    position: relative;
    overflow: auto;
}

#main .summary {
    float: left;
    clear: both;
    width: 35%;
    top: 0px;
    left: 0px;
    padding: 0.5em; 
    overflow: hidden;
    height: 90%;
    margin-top: 1em;    
}

#main .summary .title {
    float: left;
    clear: both;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 0.5em;
}

#main .summary .byline {
    float: left;
    clear: both;
    font-weight: bold;
    margin-bottom: 1em;    
}

#main .summary .description {
    float: left;
    clear: both;
}

#main .media {  
    float: left;
    clear: both;  
    margin-top: 2em;
    width: 35%;
    height: 40%;
    margin-left: 1%;
    vertical-align: bottom;
}

#myLiveNowFeed {
    float: right;
    overflow: visible;
    width: 60%;
    margin-top: 10px;
}